@theme {
  /*--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,*/
  /*  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}

html,
body {
  /*@media (prefers-color-scheme: dark) {*/
  /*  color-scheme: dark;*/
  /*}*/
}

body {
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /*"Roboto", -apple-system, apple color emoji, BlinkMacSystemFont,*/

font-size: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.resizing {
    user-select: none;
    cursor: w-resize !important;
}

.resizing * {
    pointer-events: none;
}

.resizing .resizer {
    pointer-events: all;
}

.selecting {
    user-select: none;
}

.selecting * {
    pointer-events: none;
}

span {
    margin: 0;
}

pre {
    margin: 0;
}